@font-face {
    font-family: "Timer";
    src: url("timer.ttf");
}

@font-face {
    font-family: "Verdana";
    src: url("Verdana.ttf");
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #1b244a;
}

button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px 20px;
    cursor: pointer;
    background-color: #f94f6d;
    border: none;
    border-radius: 25px;
    color: #fff;
    font-weight: 900;
    transition: .5s;
}

button:hover {
    transform: scale(1.1);
}

.container {
    max-width: 500px;
    margin: 50px auto 0;
    display: flex;
    justify-content: space-evenly;
    color: #fff;
}

.container .box h3 {
    font-size: 40px;
    font-weight: 900;
    font-family: "Verdana", Arial, Helvetica, sans-serif;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
}

.box h4 {
    padding-top: 10px;
    width: 155px;
    height: 120px;
    background-color: #080001;
    font-family: "Timer";
    font-size: 90px;
    color: #f94f6d;
    border-radius: 5px;
    text-align: center;
}

.box .add-points {
    display: flex;
    gap: 1rem;
    color: #9aabd8;
    font-family: "Timer", Arial, Helvetica, sans-serif;
}

.box .add-points p {
    padding: 10px;
    border: 2px solid #9aabd8;
    border-radius: 5px;
    cursor: pointer;
    transition: .5s;
}

.box .add-points p:hover {
    transform: scale(1.1);
}
